<!-- ###TEMPLATE_RSS091### begin -->###XML_DECLARATION###
<rss version="0.91">
	<channel>
		<!-- ###HEADER### begin -->
		<title>###SITE_TITLE###</title>
		<link>###SITE_LINK###</link>
		<description>###SITE_DESCRIPTION###</description>
		<language>###SITE_LANG###</language>
		<image>
			<title>###SITE_TITLE###</title>
			<url>###IMG###</url>
			<link>###SITE_LINK###</link>
			<width>###IMG_W###</width>
			<height>###IMG_H###</height>
			<description>###SITE_DESCRIPTION###</description>
		</image>
		<docs>http://backend.userland.com/rss091</docs>
		###NEWS_COPYRIGHT###
		###NEWS_WEBMASTER###
		###NEWS_MANAGINGEDITOR###
		###NEWS_LASTBUILD###
		<!-- ###HEADER### end -->
		<!-- ###CONTENT### begin -->
		<!-- ###NEWS### begin -->
		<item>
			<title>###NEWS_TITLE###</title>
			<link>###NEWS_LINK###</link>
			<description>###NEWS_SUBHEADER###</description>
		</item>
		<!-- ###NEWS### end -->
		<!-- ###CONTENT### end -->
	</channel>
</rss><!-- ###TEMPLATE_RSS091### end -->