<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english

-->
<table border=1 cellpadding=4 cellspacing=1 bgcolor="#eeeeee"> 
<tr>
	<td colspan>
	
	<div align="center"><h3>tt_news configuration error</h3></div>
	<font face=verdana size=2>
	<strong>What to display:</strong> If no value for "code" (or "defaultCode") is configured in TypoScript it is <strong><em>required</em></strong> to select at least one item from the field "What to display" in the tt_news content-element. Here is an example:<br />
	<br />
	<div align="center">
	<img src="###EXTPATH###/pi/news_conf1.png" border="0" alt="tt_news Configuration information"></div>

	<br />
	The code for the curent content element is: <strong>###CODE###</strong><br />
	<br />Possible codes are: LIST,LATEST,SINGLE,SEARCH,AMENU,CATMENU and VERSION_PREVIEW (if the extension "version" is installed). This list can be extended by other extensions (f.e. "news_author_rel" which adds the code "AUTHOR_SINGLE").

<br />
<strong>see tt_news manual -&gt;</strong> <a href="http://typo3.org/documentation/document-library/tt_news/" target="_blank">http://typo3.org/documentation/document-library/tt_news/</a><br /><br />
	</font>
	</td>
</tr>
</table>
<!--###TEMPLATE_DEFAULT### end -->