<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<table border=1 cellpadding=4 cellspacing=1 bgcolor="#eeeeee"> 
<tr>
	<td colspan=2>
	
	<div align="center"><h3>Configuration information</h3></div>
	<font face=verdana size=2>
	You should at least select one item from the field "What to display"<br>
	Here is an example:<br><BR>
	<div align="center"><img src="###EXTPATH###\pi\News conf1.gif" width="572" height="643" border="2" alt=""></div>
<br>
	Starting point: If you don't insert a page as starting point the current page is used. Notice that the recursive function <i>do work</i> with news and thus you can select news from multiple pages and subpages.
	</font>
	</td>
</tr>
</table>
<!--###TEMPLATE_DEFAULT### end -->

