<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english

-->
<table border=1 cellpadding=4 cellspacing=1 bgcolor="#eeeeee"> 
<tr>
	<td colspan>
	<font face=verdana size=2>
	<div align="center"><h3>Configuration information</h3></div>
	
	<b>What to display: </b>You should at least select one item from the field "What to display"<br>
	Here is an example:<br><br>
	<div align="center">
	<img src="###EXTPATH###/pi/news_conf1.png" width="574" height="538" border="0" alt="tt_news Configuration information"></div>

	<br>
	      <b>Starting point:</b> The 'starting point' is the page where the plugin looks for news-articles. 
If you don't insert a page as starting point the current page is used. 
Notice that the recursive function <i>do work</i> with news and thus you can select news from multiple pages and subpages.<br>
	</font>
	</td>
</tr>
</table>
<!--###TEMPLATE_DEFAULT### end -->

