#ttnewsadmin-tree {
    float: left;
    overflow-x: auto;
    overflow-y: auto;
    width: 253px;
    border-right: 1px solid #ccc;
}

#ttnews-cat-tree {
    margin-bottom: 15px;
}

#ttnewsadmin-list {
    padding: 0 10px 0 263px;
}

#togglesubcats {
    background: #ddd;
    padding: 2px;
    cursor: pointer;
    font-style: italic;
}

#newssubcats {
    background: #f8f9fa;
    padding: 2px;
    border: 1px solid #ddd;
}

#resetcatselection {
    float: right;
    font-style: italic;
}

#ttnewsadmin-search {
    padding: 0;
    margin: 0;
}

#ttnewsadmin-search input {
    margin: 0 3px;
}

span.hiddencat {
    color: #999;
}

span.list-cb {
    padding-right: 15px;
}

span.list-cb input {
    float: left;
    margin-right: 5px;
}

table.typo3-dblist tr td.col-icon a {
    width: 18px;
    display: inline;
}

table.typo3-dblist tr td {
    padding: 6px 10px;
}

div.ttnewsadmin-pagination {
    padding: 5px 0;
    white-space: nowrap;
}

div.ttnewsadmin-pagination img, div.ttnewsadmin-pagination span.pageIndicator {
    margin-right: 6px;
}

div.ttnewsadmin-pagination img {
    vertical-align: bottom;
    padding-bottom: 2px;
}

#ttnewsadmin-tree .checkbox {
    display: inline;
}

#ttnews-cat-tree ul.tree {
    margin: 16px 0 0 0;
    list-style-type: none;
    padding-left: 0;

}

#ttnews-cat-tree ul.tree li ul {
    list-style-type: none;
    padding-left: 18px;
}

#ttnews-cat-tree ul.tree li ul li ul {
    background: url('/typo3conf/ext/tt_news/Resources/Public/Images/Icons/ol/line.gif') repeat-y -1px;
}

#web-txttnewsM1- .typo3-docheader-functions a img,
#web-txttnewsM1 .typo3-docheader-functions a img {
    padding-right: 5px;
}

#ttnewsadmin-tree .icon-actions-document-new {
    margin-right: 5px;
}

#web-txttnewsM1- .c-headLineTable {
    background: #eee;
}

#web-txttnewsM1- div#typo3-docbody {
    top: 0;
    padding-top: 75px;

}

#web-txttnewsM1- div#typo3-inner-docbody {
    padding: 0;
}

.typo3-docheader-pagePath {
    padding-bottom: 5px;
}

.icon-ttnews-gfx-ol-minus, .icon-ttnews-gfx-ol-plus {
    width: 18px !important;
	margin-left: -1px;
}
