<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{content.news}">
    <f:then>
        <f:for each="{content.news}" as="news">
            <f:variable name="ma">{news.markerArray}</f:variable>
            <div class="news-header-list-container">
                <div class="news-header-list-title">
                    <f:link.typolink parameter="{conf.singlePid}" additionalParams="&tx_ttnews[tt_news]={news.row.uid}">
                        {ma.NEWS_TITLE}
                    </f:link.typolink>
                </div>
                <div class="news-header-list-time"> {ma.NEWS_DATE} {ma.NEWS_TIME}</div>
                <div class="news-header-list-categories">
                    {ma.TEXT_CAT_LATEST} {ma.NEWS_CATEGORY} {ma.NEWS_CATEGORY_IMAGE}
                </div>
            </div>
        </f:for>

        <f:format.raw>{content.globalMarkerArray.BROWSE_LINKS}</f:format.raw>

    </f:then>
    <f:else>
        <f:translate key="LLL:EXT:tt_news/Resources/Private/Language/Plugin/locallang_pi.xlf:noNewsToListMsg" />
    </f:else>
</f:if>

</html>
